* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}
body {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(2, 6, 23, 0.75),
      rgba(2, 6, 23, 0.75)
    ),
    url("../assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}


/* MAIN CONTAINER */
.container {
  width: 100%;
  max-width: 460px;
  padding: 24px;
}

/* PROFILE SECTION */
.profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile img {
  width: 190px;        
  height: 190px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #38bdf8;
  box-shadow: 0 0 35px rgba(56,189,248,0.35);
}


.profile h1 {
  margin-top: 18px;
  font-size: 28px;     /* was 22px */
  font-weight: 700;
  letter-spacing: 0.5px;
}




/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* CARD */
.card {
  height: 70px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card img {
  width: 28px;
  height: 28px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px currentColor;
}

/* BRAND COLORS */
.linkedin {
  color: #00A0DC;
  border: 1px solid #00A0DC;
}

.github {
  color: #404040;
  border: 1px solid #545454;
}

.email {
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

.whatsapp {
  color: #25D366;
  border: 1px solid #128C7E;
}

.resume {
  color: #ffffff;
  border: 1px solid #ffffff;
}



/* MOBILE EXTRA SMALL */
@media (max-width: 360px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 420px) {
  .profile img {
    width: 160px;
    height: 160px;
  }

  .profile h1 {
    font-size: 24px;
  }
}
